<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="flying_blue_payment" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label><![CDATA[<image style="float: left; margin-right: 15px;" height="29" src="https://plus-secure.flyingblue.com/checkout/user/btn-img?p=FLB&is=245x40" alt=""></image>Flying Blue+]]></label>
                <attribute type="expanded">1</attribute>
                <group id="flyingbluepaymentmethod_basic" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Basic Settings]]></label>
                    <attribute type="expanded">1</attribute>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/flyingblue/active</config_path>
                    </field>
                    <field id="test_mode" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Test Mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/flyingblue/test_mode</config_path>
                    </field>
                    <field id="debug" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Debug</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/flyingblue/debug</config_path>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="130" showInDefault="9"
                           showInWebsite="1" showInStore="0">
                        <label>Payment From Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="140" showInDefault="1"
                           showInWebsite="1" showInStore="0">
                        <label>Payment From Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1"
                           showInStore="0">
                        <label>Sort Order</label>
                        <frontend_class>validate-number</frontend_class>
                        <config_path>payment/flyingblue/sort_order</config_path>
                    </field>
                </group>
                <group id="flyingbluepaymentmethod_access" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Access]]></label>
                    <attribute type="expanded">1</attribute>
                    <field id="api_username" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>API Username</label>
                        <backend_model>Magento\FlyingBluePayment\Model\Config\Backend\ApiUsername</backend_model>
                        <config_path>payment/flyingblue/api_username</config_path>
                    </field>
                    <field id="api_password" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>API Password</label>
                        <backend_model>Magento\FlyingBluePayment\Model\Config\Backend\ApiPassword</backend_model>
                        <config_path>payment/flyingblue/api_password</config_path>
                    </field>
                    <field id="api_access_token" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>API Access Token</label>
                        <backend_model>Magento\FlyingBluePayment\Model\Config\Backend\ApiAccessToken</backend_model>
                        <config_path>payment/flyingblue/api_access_token</config_path>
                    </field>
                    <field id="merchant_code" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Merchant Code (Shop ID)</label>
                        <backend_model>Magento\FlyingBluePayment\Model\Config\Backend\MerchantCode</backend_model>
                        <config_path>payment/flyingblue/merchant_code</config_path>
                    </field>
                    <field id="certificate" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Directory to certificate</label>
                        <backend_model>Magento\FlyingBluePayment\Model\Config\Backend\Certificate</backend_model>
                        <config_path>payment/flyingblue/certificate</config_path>
                    </field>
                    <field id="privatekey_password" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Privatekey password</label>
                        <backend_model>Magento\FlyingBluePayment\Model\Config\Backend\PrivatekeyPassword</backend_model>
                        <config_path>payment/flyingblue/privatekey_password</config_path>
                    </field>
                </group>
                <group id="flyingbluepaymentmethod_developer_options" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Developer Options]]></label>
                    <attribute type="expanded">1</attribute>
                    <!--enable loging-->
                </group>
            </group>
        </section>
    </system>
</config>
